/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/06/2017, 09:11:44 AM
    Author     : carlos
*/

.containerautocomplete{
    text-align: left !important;
    z-index: 10;
    background-color: #FCFCFC;
    /*Bordes*/
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border: 1px solid #e8e5e8;
    /*Sombra*/
    -webkit-box-shadow: 3px 3px 13px 0px rgba(107,107,107,1);
    -moz-box-shadow: 3px 3px 13px 0px rgba(107,107,107,1);
    box-shadow: 3px 3px 13px 0px rgba(107,107,107,1);
}
.containerautocomplete :hover{
    cursor: pointer; cursor: hand;
}