html, body {
	height:100%;
}

body {
	margin:0;
	font-family: 'Comfortaa', Arial, sans-serif;
}

.tit1 {
	display:block;
	color:#15367b;
	width:80%;
	border-bottom:dotted 1px #eb4e59;
	text-align:center;
	margin:0 auto;
	padding-top:40px;
	padding-bottom:20px;
}

.tit2 {
	display:block;
	color:#15367b;
	width:80%;
	border-bottom:dotted 1px #eb4e59;
	text-align:center;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:10px;
	margin-bottom:10px;
}

.tit3 {
	display:block;
	color:#15367b;
	width:90%;
	border-bottom:dotted 1px #eb4e59;
	text-align:center;
	margin:0 auto;
	padding-top:40px;
	padding-bottom:10px;
	margin-bottom:30px;
	font-size:1.4em;
}

.rounded {
	border-radius:6px;
}

.links {
	text-decoration:none;
	color:#eb4e59;
	font-size:12px;
	font-weight:bold;
}

.links:hover {
	text-decoration:underline;
}

.txt-p {
	color:#15367b;
	font-size:14px;
}

.txt-p strong {
	color:#eb4e59;
	font-size:18px;
}

form {
	margin:0;
	padding:0;
	text-align:center;
	font-size:14px;
}

.field1 {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:80%;
	clear:both;
	box-sizing:border-box;
	padding:6px 10px;
	border:solid 1px #15367b;
	color:#15367b;
	font-size:14px;
	outline:none;
	margin-bottom:12px;
}

.field1b {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:90%;
	clear:both;
	box-sizing:border-box;
	padding:4px 10px;
	border:solid 1px #15367b;
	color:#15367b;
	font-size:14px;
	outline:none;
}

.field1c {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:80%;
	clear:both;
	box-sizing:border-box;
	padding:6px 10px;
	border:solid 1px #15367b;
	color:#666;
	font-size:14px;
	outline:none;
	margin-bottom:12px;
}

.field2 {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:45%;
	box-sizing:border-box;
	padding:6px 10px;
	border:solid 1px #15367b;
	color:#15367b;
	font-size:14px;
	outline:none;;
}

.field2b {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:40%;
	box-sizing:border-box;
	padding:6px 10px;
	border:solid 1px #15367b;
	color:#666;
	font-size:14px;
	outline:none;;
}

.field2c {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:35%;
	box-sizing:border-box;
	padding:4px 10px;
	border:solid 1px #15367b;
	color:#666;
	font-size:14px;
	outline:none;;
}

.field2d {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:35px;
	background-color:#eee;
	box-sizing:border-box;
	padding:4px 7px;
	border:solid 1px #15367b;
	color:#666;
	font-size:14px;
	outline:none;;
}

.field3 {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:167px;
	box-sizing:border-box;
	padding:6px 10px;
	border:none;
	color:#15367b;
	font-size:14px;
	outline:none;
	display:inline;
	margin-right:5px;
}

.field4 {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:167px;
	box-sizing:border-box;
	padding:6px 10px;
	border:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	outline:none;
	display:inline;
	background-color:#15367b;
	cursor:pointer;
}

.field5 {
	font-family: 'Comfortaa', Arial, sans-serif;
	width:167px;
	box-sizing:border-box;
	padding:6px 10px;
	border:none;
	color:#fff;
	font-size:14px;
	outline:none;
	background-color:#15367b;
}

.but-reg {
	display: inline-block;
	width:49%;
	border:solid 1px #fff;
	box-sizing:border-box;
	padding:2%;
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	background-color:#b52f4a;
}

.but-reg:hover {
	background-color:#15367b;
	transition:0.5s;
}

.rowfields {
	font-weight:bold;
	color:#15367b;
	padding-bottom:5px;
}

.add-rows-nav {
	padding:15px 0;
	border-top:dashed 1px #ccc;
	border-bottom:dashed 1px #ccc;
	box-sizing:border-box;
	width:90%;
	clear:both;
	margin:15px auto;
	color:#ccc;
	background-color:#f9f9f9;
}

.add-rows-nav a {
	text-decoration:none;
	padding:5px 15px;
	margin:0 5px;
	background-color:#f1f1f1;
	color:#039;
	font-weight:bold;
	border:solid 1px #ccc;
}

.add-rows-nav2 {
	padding-bottom:7px;
	border-bottom:dashed 1px #ccc;
	box-sizing:border-box;
	font-size:13px;
	width:90%;
	clear:both;
	margin:0 auto;
	margin-bottom:15px;
	color:#666;
	text-align:left;
	line-height:18px;
}

.add-rows-nav2 input {
	margin-bottom:20px;
	float:left;
}

.add-rows-nav2 span {
	color:#15367b;
}

.add-rows-nav2 strong {
	font-size:18px;
	color:#eb4e59;
}

.add-rows-nav2 div {
	text-align:right;
	width:100%;
	padding-top:3px;
}

#layer {
	width:100%;
	height:100%;
	background-color:#fff;
	position:absolute;
	opacity:0.8;
	z-index:100;
}

.layer2 {
	background-color:#fff;
	width:90%;
	position:absolute;
}

#reg-user {
	z-index:10;
}

#reg-agency {
	z-index:5;
}

@media screen and (max-width: 768px) {



}