.containerautocomplete_share{
	position: absolute;
    text-align: left !important;
    z-index: 1;
    background-color: #FCFCFC;
    /*Bordes*/
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border: 1px solid #e8e5e8;
    /*Sombra*/
    -webkit-box-shadow: 3px 3px 13px 0px rgba(107,107,107,1);
    -moz-box-shadow: 3px 3px 13px 0px rgba(107,107,107,1);
    box-shadow: 3px 3px 13px 0px rgba(107,107,107,1);
}
.containerautocomplete_share :hover{
    cursor: pointer; cursor: hand;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

th {
    text-align: left;
}

td, th {
    padding: 0;
}


th {
    font-weight: bold;
    text-align: -internal-center;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

html, body {

	height:100%;

}



body {

	margin:0;

	font-family: 'Comfortaa', Arial, sans-serif;

}



#page {

	width:995px;

	margin:0 auto;

	padding-top:200px;

	box-sizing:border-box;

}

#page_customize {

	width:995px;

	margin:0 auto;

	padding-top:20px;

	box-sizing:border-box;

}

#page_details_excursions {

	width:995px;

	margin:0 auto;

	padding-top:20px;

	box-sizing:border-box;

}

#page_details_transfers{

	width:995px;

	margin:0 auto;

	padding-top:20px;

	box-sizing:border-box;

}

#page_details_hotels{

	width:995px;

	margin:0 auto;

	padding-top:20px;

	box-sizing:border-box;

}

#page_details_tours{

	width:995px;

	margin:0 auto;

	padding-top:20px;

	box-sizing:border-box;

}

#page_client {

	width:995px;

	margin:0 auto;

	padding-top:20px;

	box-sizing:border-box;

}



header {

	top:0;

	width:100%;

	clear:both;

	box-sizing:border-box;

	padding-bottom:20px;

	position:fixed;

	background-image:url(../images/bg-gradient.png);

	background-position:bottom;

	background-repeat:repeat-x;

	z-index:10;

}



.header-bg {

	background-color:#fff;

	padding-top:30px;

}

#logo {

	display:inline-block;
		
	width:350px;

}



#logo img {

	height:150px;

}

#logo_client {

	display:inline-block;
	
	padding-left: 300px;

	width:350px;

}



#logo_client img {

	height:150px;

}

.header-in {

	width:645px;

	display:inline-block;

	vertical-align: top;

}

.header-in_client {

	width:100%;

	display:inline-block;

	vertical-align: top;

}


.header-1r {

	width:100%;

	text-align:right;

	box-sizing:border-box;

	padding-bottom:70px;

}

.header-1r_client {

	width:100%;

	text-align:right;

	box-sizing:border-box;

	padding-bottom:20px;

}



.phone {

	width:220px;

	color:#d9d9d9;

	font-size:24px;

	line-height:34px;

	height:34px;

	box-sizing:border-box;

	padding-left:40px;

	background-image:url(../images/ico-phone.jpg);

	background-repeat:no-repeat;

	background-position:left;

	position:relative;

	display:inline-block;

}



.log {

	width:420px;

	display:inline-block;

	text-align:right;

	box-sizing:border-box;

	color:#eee;

}



.log img {

	vertical-align:text-bottom;

}



.log a {

	text-decoration:none;

	color:#15367b;

	font-size:16px;

}



.log a:hover {

	opacity:0.5;

	transition:0.5s;

}



#menu {

	width:100%;

	text-align: right;

}



#menu a {

	text-decoration:none;

	font-size:22px;

	color:#15367b;

	margin-left:25px;

	letter-spacing:-1px;

}



#menu a:hover {

	color:#eb4e59;

	transition:0.5s;

}



section {

	margin-bottom:40px;

}



#reservations {

	width:100%;

	border-radius:10px;

	background-color:#eb4e59;

	box-sizing:border-box;

	display:block;

	padding:10px;

}



#xtra-form {

	width:100%;

	background-color:#eb4e59;

	box-sizing:border-box;

	display:none;

	z-index:100;

	padding:10px;

	padding-top:0;

	box-shadow: 2px 2px 3px #888;

	border-radius:0 0 10px 10px;

}

#xtra_form_tours {

	width:100%;

	background-color:#eb4e59;

	box-sizing:border-box;

	display:none;

	z-index:100;

	padding:10px;

	padding-top:0;

	box-shadow: 2px 2px 3px #888;

	border-radius:0 0 10px 10px;

}



.add-rows-nav {

	font-size:14px;

	font-weight:bold;

	padding-bottom:10px;

	padding-top:0px;

	margin:0 auto;

	width:100%;

	text-align:center;

	border-bottom:dotted 1px #eee;

}



.add-rows-nav a {

	text-decoration:none;

	background-color:#b52f4a;

	color:#fff;

	display:inline-block;

	padding:5px 10px;

}



#button-hotel2 {

	margin:0 auto;

	display:block;

}





#pa-grid-1 {

	padding-bottom:10px;

}





.rowfields {

	color:#fff;

	font-size:14px;

	padding:5px 0;

	border-bottom:dotted 1px #eee;

}

.rowfields_tours {

	color:#fff;

	font-size:14px;

	padding:5px 0;

	border-bottom:dotted 1px #eee;

}



#box-hotels {

	background:none;

}



.content-table {

	font-size:12px;

}



.rounded {

	border-radius:6px;

}



form {

	margin:0;

	padding:0;

}



.box-forms-content {

	width:350px;

	display:inline-block;

	vertical-align: top;

	z-index:100;

}

.box-forms {

	width:350px;

	position:absolute;

	padding-top:3px;

	display:none;

	background-color:#eb4e59;

}



.field1 {

	font-family: 'Comfortaa', Arial, sans-serif;

	width:345px;

	clear:both;

	box-sizing:border-box;

	padding:6px 10px;

	border:none;

	color:#15367b;

	font-size:14px;

	outline:none;

	margin-bottom:12px;

}



.field2 {

	font-family: 'Comfortaa', Arial, sans-serif;

	width:167px;

	box-sizing:border-box;

	padding:6px 10px;

	border:none;

	color:#15367b;

	font-size:14px;

	outline:none;

	margin-bottom:12px;

	display:inline;

	background-image: url(../images/ico-calendar.jpg);

	background-repeat:no-repeat;

	background-position:right center;

	margin-right:5px;

}



.field3 {

	font-family: 'Comfortaa', Arial, sans-serif;

	width:167px;

	box-sizing:border-box;

	padding:6px 10px;

	border:none;

	color:#15367b;

	font-size:14px;

	outline:none;

	display:inline;

	margin-right:5px;

}



.field4 {

	font-family: 'Comfortaa', Arial, sans-serif;

	width:167px;

	box-sizing:border-box;

	padding:6px 10px;

	border:none;

	color:#fff;

	font-size:14px;

	font-weight:bold;

	text-align:center;

	outline:none;

	display:inline;

	background-color:#15367b;

	cursor:pointer;

}



.field5 {

	font-family: 'Comfortaa', Arial, sans-serif;

	width:167px;

	box-sizing:border-box;

	padding:6px 10px;

	border:none;

	color:#fff;

	font-size:14px;

	outline:none;

	background-color:#15367b;

}



.field6 {

	font-family: 'Comfortaa', Arial, sans-serif;

	width:110px;

	box-sizing:border-box;

	padding:6px 7px;

	border:none;

	color:#15367b;

	font-size:13px;

	outline:none;

	display:inline;

	margin-right:5px;

}



.field7 {

	font-family: 'Comfortaa', Arial, sans-serif;

	width:93px;

	box-sizing:border-box;

	padding:6px 6px;

	border:none;

	color:#15367b;

	font-size:13px;

	outline:none;

	display:inline;

	margin-right:5px;

}



#options {

	width:600px;

	margin-left:20px;

	display:inline-block;

	box-sizing:border-box;

	background-image:url(../images/arrows.png);

	background-repeat:no-repeat;

	background-position:left center;

	text-align:right;

	vertical-align:top;

	z-index:0;

}



#options a {

	border-radius:10px;

	display:inline-block;

	margin-left:10px;

	background-color:#fff; /* fcc9cc */

	width:115px;

	height:115px;

	background-repeat:no-repeat;

	background-position:center center;

	text-decoration:none;

	color:#15367b;

	font-size:16px;

	font-weight:bold;

	box-sizing:border-box;

	padding:10px;

	padding-top:85px;

	text-align:center;

	letter-spacing:-1px;

	vertical-align: bottom;

	opacity:0.7;

	filter: alpha(opacity=70);

}



#options a:hover {

	background-color:#fff;

	opacity:0.9;

	filter: alpha(opacity=90);

	transition:0.5s;

}



.selected {

	background-color:#fff!important;

	opacity:1!important;

	filter: alpha(opacity=100)!important;

}



#order-rrss {

	width:100%;

	clear:both;

	margin-bottom:0;

}



.half {

	width:49.5%;

	display:inline-block;

	box-sizing:border-box;

	padding:1% 0;

	color:#15367b;

	font-size:16px;

	font-weight:bold;

}



.half img {

	margin:0 3px;

	vertical-align: bottom;

}



#resultados {

	width:100%;

	clear:both;

}



.r-row {

	width:100%;

	clear:both;

	background-color:#eee;

	box-sizing:border-box;

	padding:10px;

	margin-bottom:10px;

}



.r-row .thumb {

	height:115px;

	display:inline-block;

	margin-right:10px;

	vertical-align:top;

}



.description {

	width:600px;

	display:inline-block;

	vertical-align:top;

	margin-right:60px;

}



.description h3 {

	color:#15367b;

	margin:3px 0;

	font-size:18px;

}



.description p {

	font-size:12px;

	line-height:16px;

	color:#666;

	margin-top:0;

}



.price {

	width:180px;

	display:inline-block;

	text-align:center;

	color:#666;

	background-color:#f7f7f7;

	box-sizing:border-box;

	padding:10px;

	height:115px;

}



.price strong {

	font-size:24px;

	color:#b52f4a;

}



.price p {

	margin:10px 0;

}



.price a {

	display:block;

	text-align:center;

	clear:both;

	background-color:#214082;

	color:#fff;

	font-weight:bold;

	text-decoration:none;

	text-transform:uppercase;

	padding:5px 30px;

}



#content {

	color:#666;

	font-size:14px;

	line-height:18px;

	text-align:justify;

	box-sizing:border-box;

	clear:both;

	width:100%;

}



#content .title-terms {

	width:100%;

	display:block;

	padding-bottom:10px;

	border-bottom: dotted 1px #eb4e59;

	color:#666;

}



#content .title-details {

	color:#555;

	font-size:2em;

	margin:0;

	margin-bottom:12px;

}



#content .title-sub {

	color:#15367b;

	font-size:1.3em;

	margin-bottom:0px;

}



.head-details {

	width:100%;

	padding-bottom:4px;

	border-bottom: dotted 1px #eb4e59;

	box-sizing:border-box;

	vertical-align:top;

}



.a-half {

	width:49.7%;

	display:inline-block;

	box-sizing:border-box;

	vertical-align:top;

}



.h-detail-r {

	text-align:right;

	font-size:12px;

	line-height:32px;

}



.h-detail-l {

}



.but-availb {

	background-color:#eb4e59;

	color:#fff;

	text-decoration:none;

	font-weight:bold;

	padding:7px 20px;

	font-size:16px;

}



.but-availb:hover {

	background-color:#15367b;

	transition:0.5s;

}



.return {

	font-size:12px;

	text-decoration:none;

	color:#999;

}



.return strong {

	color:#b52f4a;

}



.return:hover {

	color:#15367b;

}



.ui-tabs .ui-tabs-panel {

    padding:0!important;

}



.ui-widget.ui-widget-content, .ui-widget-content {

    border: none!important;

}



.ui-widget {

    font-family: 'Comfortaa', Arial, sans-serif!important;

}



.ui-widget-header {

    border: none !important;

    background: none !important;

    color:#666 !important;

    font-weight: bold!important;

}



.ui-tabs .ui-tabs-nav li {

    margin:0 !important;

	outline:none;

	width:20%;

	text-align:center;

}



.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {

    background: none !important;

    font-weight: bold !important;

    color: #eb4e59 !important;

	outline:none!important;

}



.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

    border: none !important;

    background: #f9f9f9 !important;

    /*font-weight: bold !important;*/

    color: #999 !important;

	outline:none!important;

}



.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {

    color:#eb4e59 !important;

	outline:none!important;

}



.ui-tabs {

     padding:0 !important;

}



.ui-tabs .ui-tabs-nav .ui-tabs-anchor {

	box-sizing:border-box;

	width:100%;

	text-align:center;

	border-bottom:solid 2px #ddd;

	color: #69C;

}



.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {

	border-bottom:solid 2px #15367b!important;

	background: #f5f5f5;

}



.ui-state-default a, .ui-state-default a:link {

    color: #999;

}



.lst-items li {

    width: 20%;

	box-sizing:border-box;

	float: left;

	text-align:left;

    margin: 20px;

    padding: 0;

    list-style-image: url(../images/lst-type.png);

}



.main-slider, .main-slider img, .main-slider ul, .main-slider ul li {

	width:100% !important;

	height:auto;

}



#image-gallery li img {

	width:100%;

	height:auto;

}



footer {

	width:100%;

	text-align:center;

	clear:both;

	padding:20px 0;

	box-sizing:border-box;

	border-top:solid 2px #eb4e59;

	color:#c3c3c3;

	font-size:12px;

}



footer img {

	margin:0 5px;

}



footer img:hover, .half img:hover {

	opacity:0.5;

	transition:0.5s;

}



footer a {

	text-decoration:none;

	font-size:14px;

	color:#15367b;

}





@media screen and (max-width: 1024px) {



#page {

	width:100%;

	margin:0 auto;

	padding-top:310px;

}

#page_client {

	width:100%;

	margin:0 auto;

	padding-top:130px;

}



#logo {

	display:block;

	width:100%;

	text-align:center;

	padding-bottom:20px;

}



#logo img {

	height:90px;

}



.header-in {

	width:100%;

	display:block;

}



.header-1r {

	width:100%;

	text-align:center;

	box-sizing:border-box;

	padding-bottom:20px;

}



.phone {

/*	width:100%;

	height:auto;

	display:block;

	text-align:center;

	background-image:none;*/

	display:none;

}



.log {

	width:100%;

	display:block;

	text-align:center;

}



#reservations {

	clear:both;

	margin-bottom:20px;

}



.box-forms-content {

	width:100%;

	/*height:210px;

	overflow:hidden;*/

	display:block;

	vertical-align: top;

}



.box-forms {

	width:100%;

	position: relative;

	padding-top:3px;

	display:none;

}



#xtra-form {

	box-shadow: none;

}





#menu {

	width:100%;

	text-align: center;

	padding:15px 0;

}



#menu a {

	font-size:18px;

	margin:10px;

	display:inline-block;

	line-height:20px;

}



#form-reserv {

	width:100%;

	display:block;

	text-align:center;

}



.field1, .field2, .field3, .field4, .field5, #options, .half {

	width:100%;

	clear:both;

	margin-bottom:12px;

}



section#order-rrss div.half select#order {

	margin-bottom:0px;

}



.half {

	display:block;

}



#options {

	background: none;

	text-align:center;

	width:100%;

	clear:both;

	margin-left:0;

}



#options a {

	display: inline-block;

	margin:0 2px;

	width:22.4%;

	font-size:12px;

	margin-bottom:10px;

	background-size:80%;

}

#msgUsuario{
    margin-top: -20px;
    margin-right: 50px;
    float: right;
}

#msgEmail{
    margin-top: -20px;
    margin-right: 50px;
    float: right;
}

#registro_correcto{
	position: absolute;
	margin: -250px 0px 0px 50px;
	padding: 15px 40px;
	background:#2FB135;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 5px 2px;
	font-size: 14px;
	text-align: center;	
}

.ssnn {

	display:none;

}



#resultados {

	width:100%;

	clear:both;

}



.r-row .thumb {

	height:115px;

	display:block;

	margin:0 auto;

	clear:both;

}



.description {

	width:100%;

	display:block;

	margin-right:0px;

	text-align:center;

}



.price {

	width:100%;

	display:block;

	color:#666;

	background:none;

	height:auto;

}



#content {

	padding:0 10px;

}



.a-half {

	width:100%;

	display:block;

	vertical-align: auto;

	text-align:center;

}



.ui-tabs .ui-tabs-nav .ui-tabs-anchor {

    padding: .5em .6em!important;

	font-size:11px;

}



.ui-tabs .ui-tabs-nav li {

	width:auto;

}



.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

    background: none !important;

}



.ui-tabs .ui-tabs-nav .ui-tabs-anchor {

	border-bottom: none;

}



}

